<div class="game-description">
  <h1>Welcome to Mad Libs!</h1>
  <p>
    Get ready to unleash your creativity! In this fun and interactive game, you will fill in the blanks with provided words to create hilarious stories. 
    Choose your words wisely and see how funny the results can be! Click the button below to learn how to play and join the fun.
  </p>
  <button mat-raised-button color="primary" (click)="goToInstructions()">Start Game</button>
</div>

<div class="credit-container">
  <p>Developed by</p>
  <p><strong>Jaskaran Singh</strong></p>
</div>
